body {
  margin: auto;
  width: 1920px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background {
  margin: 0px;
  width: 1920px;
  position: absolute;
}

.content {
  margin: auto;
  width: 1170px;
}

.topnav {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  width: 1170px;
}

.logo {
  margin-top: 0px;
  padding: 0px;
  margin-right: 84px;
  width: 118px;
  height: 33.5px;
  font-family: Poppins;
  font-size: 33.5px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: right;
  color: white;
}

.topbar {
  font-family: Poppins;
  color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0px;
  padding: 0px;
  line-height: 2.1;
  font-size: 20px;
}

.button {
  width: 242px;
  height: 76px;
  border-radius: 38px;
  background-color: #ffffff;
  font-family: Montserrat;
  text-align: center;
  color: #4085f6;
  font-size: 25.5px;
  border: none;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: normal;
  margin-left: 85px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col"] {
  padding-right: 0;
  padding-left: 0;
}

.phone {
  width: 1170px;
  position: relative;
  z-index: 1;
  margin-top: 7px;
}

.phonepic {
  display: inline;
  position: relative;
  z-index: 1;
  margin-left: -104px;
}

.text1 {
  margin-top: 236px;
  width: 592px;
  height: 105px;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.text2 {
  margin-top: 40px;
  width: 591px;
  height: 56px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 85px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.appstore {
  margin-right: 18px;
}

.about {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pros.title {
  width: 274px;
  height: 34px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5d5d5d;
}

.description {
  margin-top: 51px;
  width: 913px;
  height: 56px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  /*line-height: 1.8;*/
  letter-spacing: normal;
  text-align: center;
  color: #737373;
}

.container.pros {
  margin-top: 90px;
}

.col-md.pros {
  width: 358px;
  height: 391px;
  -webkit-box-shadow: 0.7px 1.9px 19.6px 0.4px rgba(34, 31, 31, 0.2);
          box-shadow: 0.7px 1.9px 19.6px 0.4px rgba(34, 31, 31, 0.2);
}
/*# sourceMappingURL=main.css.map */